@model IEnumerable<MVC.Models.Product>

<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sale</option>
        </select>
    </div>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-4">
                <a href="@Url.Action("Details", "Product", new { id = product.ProductId })">
                    <img src="@product.ImageUrl" alt="@product.Name" />
                </a>
                <a href="@Url.Action("Details", "Product", new { id = product.ProductId })">
                    <h4>@product.Name</h4>
                </a>
                <p>@product.Price.ToString("C")</p>
            </div>
        }
    </div>
</div>
