@model MVC.Models.Product
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="small-container single-product">
    <div class="row">
        <!-- Hình ảnh chính -->
        <div class="col-2">
            <img src="@Model.ImageUrl" width="100%" id="productImg" alt="@Model.Name" />
        </div>

        <!-- Thông tin sản phẩm -->
        <div class="col-2">
            <p>Home / @Model.Category?.Name</p>
            <h1>@Model.Name</h1>
            <h4>@Model.Price.ToString("C")</h4>
            <select>
                <option>Chọn kích cỡ</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <input type="number" value="1" min="1" />
            <a href="@Url.Action("AddToCart", "Cart", new { id = Model.ProductId })" class="btn">Thêm vào giỏ hàng</a>
            <h3>Chi tiết sản phẩm <i class="fa fa-indent"></i></h3>
            <br />
            <p>@Model.Description</p>
        </div>
    </div>
</div>
