@model MVC.DTOs.UserProfileDTO
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin tài khoản</h2>
<div class="profile-container">
    <div class="profile-header">
        <h1>@Model.Customer.Name</h1>
        <img src="~/Images/avatar.jpg" alt="Avatar" class="avatar">
    </div>
    <div class="profile-details">
        <div class="detail-item">
            <label>Email:</label>
            <span>@Model.Customer.Email</span>
        </div>
        <div class="detail-item">
            <label>Địa chỉ:</label>
            <span>@Model.Customer.Address</span>
        </div>
        <div class="detail-item">
            <label>Số điện thoại:</label>
            <span>@Model.Customer.Phone</span>
        </div>
    </div>
    <div class="profile-buttons">
        <a href="@Url.Action("EditProfile", "Profile")" class="btn-update">Cập nhật thông tin</a>
        <a href="@Url.Action("ChangePassword", "Account")" class="btn-change-password">Đổi Mật Khẩu</a>
    </div>
</div>

<h3>Lịch sử đơn hàng</h3>
<div class="order-history">
    @if (Model.OrderHistory.Any())
    {
        <table class="order-table">
            <thead>
                <tr>
                    <th>Số đơn hàng</th>
                    <th>Ngày đặt</th>
                    <th>Trạng thái</th>
                    <th>Chi tiết</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.OrderHistory)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @order.Status
                        </td>
                        <td><a href="@Url.Action("OrderDetails", "Profile", new { orderId = order.OrderId })">Xem chi tiết</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Không có đơn hàng nào.</p>
    }
</div>


<link rel="stylesheet" href="~/css/Profile.css" />


